.kalkulator {
    width: 300px;
    background: burlywood;
    margin: 50px auto 0px auto ;
    padding: 7px;
    border-radius: 5px;
}

#layar{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    font-size: 25px;
    font-weight: bold;
    color: gray;
    padding: 7px 5px;
    text-align: right;
    outline: none;
}

.container-tombol{
    display: flex;
    flex-wrap: wrap;
}

.tombol{
    display: flex;
    width: 25%;
    font-size: 20px;
    color: black;
    font-weight: bold;
    height: 70px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.tombol:nth-child(4n+1){
    border-left: 1px solid white;
}

.tombol:hover{
    background: green;
}

#nol{
    flex-grow: 1;
}

.operator{
    background: orangered;
}

#jumlah{
    background: orange;
    color: black;

}

#jumlah:hover{
    background:green;
}